@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-brand {
    color: white !important;
    font-size: 3rem !important;
    padding-right: 5rem;
}

.nav-link {
    color: white !important;
    font-size: 1.3rem !important;
    transition: all .2s ease-in-out !important;
    

}

.nav-link:hover {
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0) 80%, purple 20%) !important;*/
    transform: scale(1.1) !important;
}

.nav-link.active {
    background-color: purple !important; 
    /*background-image: linear-gradient(to top, rgba(0,0,0,0) 20%, black 20%) !important;  */
    
}


.navButton {
    font-size: 1.3rem !important;
    font-weight: bold !important;
    color: white !important;
    padding-left: 2rem !important;
}
.navButton.active {
    background-color: #212529 !important;
    /*background-image: linear-gradient(to top, rgba(0,0,0,0) 20%, #212529 20%) !important; */
}
.navButton:hover {
    background-image: linear-gradient(to top, rgba(0,0,0,0) 20%, #212529 20%) !important;
}

.packsTitle {
    color: purple;
    font-size: 400%;
    padding-top: 1rem;
}

.packsTab {
    padding-top: 2rem;
}


.card {
    border-color: black !important;
    border-radius: 0.5rem !important; 
}
